<form id="form_unit-converter">
    <div class="input-container__type">
        <h3>Select a measurement type:</h3>
        {{#each type}}
            <input type="radio" name="type-choice" id="input_type_{{@key}}" value="{{@key}}">
            <label for="input_type_{{@key}}">{{@key}}</label>
        {{/each}}
    </div>

    <div class="input-container__unit">
        <label for="select-choice">Select Dropdown Choice:</label>
        <select name="select-choice" id="select-choice">
            <option disabled selected value>Select an option</option>
            {{#each type as | typeName key|}}
                {{#each this.units as | unit |}}
                    <option value="{{unit}}" class="unit-choice unit-{{key}}">{{unit}}</option>
                {{/each}}
            {{/each}}
        </select>
    </div>

    <div class="input-container__value">
        <label for="name">Value:</label>
        <input type="number" name="input_value" id="input_value" value="1">
    </div>

    <div class="input-container__submit">
        <input type="submit" value="Go!">
    </div>

</form>