<form id="form_unit-converter">
    <div class="input-container__type">
        <h3>Select a measurement type:</h3>
        {{#each type}}
            <input type="radio" name="type-choice" id="input_type_{{@key}}" value="{{@key}}">
            <label for="input_type_{{@key}}">{{@key}}</label>
        {{/each}}
    </div>

    <div class="input-container__unit">
        <h3>Select a unit:</h3>
        {{#each type as | typeName key|}}
            {{#each this.units as | unit |}}
                <div class="btn-container unit-choice unit-{{key}}">
                    <input type="radio" name="unit-choice" id="input_unit_{{unit}}" value="{{unit}}">
                    <label for="input_unit_{{unit}}">{{unit}}</label>
                </div>
            {{/each}}
        {{/each}}
    </div>

    <div class="input-container__value">
        <label for="name">Value:</label>
        <input type="number" name="input_value" id="input_value" value="1">
    </div>

    <div class="input-container__submit">
        <input type="submit" value="Go!">
    </div>

</form>